*.db
*.db-shm
*.db-wal
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
main.dist/
main.build/
*.app/
venv/
models/embeddinggemma-onnx/
*.dmg
embeddinggemma-onnx.zip
