PySide6
qtawesome
onnxruntime
tokenizers
numpy
libsql
PyPDF2
pyobjc-framework-AVFoundation
pyobjc-framework-ScreenCaptureKit
pyobjc-framework-Speech
pyobjc-framework-Cocoa
pynput==1.7.6
openai>=1.68.0
keyring
html2text
